@font-face {
  font-family: 'Noto Sans Thai';
  font-weight: 400;
  src: url('../assets/fonts/NotoSansThai-Regular.ttf');
}
@font-face {
  font-family: 'Noto Sans Thai';
  font-weight: 700;
  src: url('../assets/fonts/NotoSansThai-Bold.ttf');
}
